* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background-image: url(pic/Logo.jpg);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    color: #ffffff;
}

.wrapper {
    position: relative;
    min-height: 100%;
    width: 100%;
}

/*текущее дата и время*/
#doc_time {
    color: black;
    text-align: center;
    width: 100%;
    position: absolute;

    left: 0;
    bottom: 0;
    height: 35px;
    margin-bottom: -140px;
}

.content {
    position: absolute;
    width: 100%;
    /*box-sizing: border-box;*/
    /*min-height: 100%;*/
    /*width: 100%;*/
    padding-bottom: 90px;
    /*margin: 0 auto;*/
}

/*Заголовок на первой странице*/
#inner {
    position: relative;
    top: 175px;
    padding-bottom: 30px;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    color: forestgreen;
    font-family: arial;
    text-align: center;
    font-size: 30px;
    vertical-align: top;
    text-shadow: 1px 1px 1px yellow;
    z-index: 2;
    margin: 0 auto;
}

/*стрелочка на первой сранице учебной части*/

#edu #arrow {
    position: absolute;
    top: 100px;
    left: 880px;
    opacity: 0;
}

#comment0 {
    position: absolute;
    text-align: center;
    top: 220px;
    left: 885px;
    opacity: 0;
}

#edu #arrow_to_left {
    position: absolute;
    top: 250px;
    left: 550px;
    opacity: 0;
    transform: rotate(15deg);
}

#comment05 {
    position: absolute;
    height: 100px;
    width: 250px;
    text-align: center;
    top: 490px;
    left: 685px;
    opacity: 0;
}

/*миссия компании*/
#miss {
    position: absolute;
    top: 130%;
    left: 53%;
    /* Отступ в процентах от левого края окна
       width: 550px; /* Ширина блока */
    height: 100px; /* Высота блока */
    margin-top: -50px; /* Отрицательный отступ от верхнего края страницы, должен равняться половине высоты блока со знаком минус */
    margin-left: -295px; /* Отрицательный отступ от левого края страницы, должен равняться половине высоты блока со знаком минус */
}

#centr, #quest, #edu {
    /*position:absolute;*/
    margin: auto;
    background-color: forestgreen;
    padding: 30px;
    border-radius: 15px;
    color: white;
    box-shadow: 1px 1px 10px black;
    border: 1px solid #fff;
    font-family: Arial, Helvetica, sans-serif;
}

/*сообщение о результате теста на последнем листе END и во втором окне авторизации INTER*/
.tc {
    text-align: center;
    font-size: 1.5em;
}

.ti {
    text-align: center;
    font-size: 1.2em;
}

/*заголовки разделов в учебной части b и в тесте*/
.tq {
    text-align: center;
    font-size: 1.2em;
    line-height: 0.1em;
}

/*комментарий по завершении учебной части лист-20*/
.tf {
    text-align: center;
}

#centr-w {
    text-align: center;
    position: relative;
    width: 100%;
}

#centr-q {
    position: absolute;
    top: 400px;
    left: 50%;
}

/*Поле ввода даннных о пользователе*/
#centr {
    display: inline-block;
    margin-top: 0;
    /*font-size:1.2em;*/
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 180px;

}

/*#centr > form > input
{color: black}

#centr > form > input > select > option
{color: black;
text-decoration-color: #080808}*/

#centr > div {
    margin-top: 10px
}

/*Таймер в вопросах*/
#timer {
    position: absolute;
    top: 95%;
    font-size: 1.5em;
    z-index: 10;
    font-family: arial;
    color: red;
}

/*Поле для вопросов*/
#quest {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 950px;
    height: 450px; /*450px;*/
    margin-top: -200px; /* Отрицательный отступ от верхнего края страницы, должен равняться половине высоты блока со знаком минус */
    margin-left: -510px; /* Отрицательный отступ от левого края страницы, должен равняться половине высоты блока со знаком минус */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

/*Поле для текста учебной части*/
#edu {
    position: absolute;
    top: 49%;
    left: 40%;
    width: 1050px;
    height: 620px;
    margin-top: -220px; /* Отрицательный отступ от верхнего края страницы, должен равняться половине высоты блока со знаком минус */
    margin-left: -420px; /* Отрицательный отступ от левого края страницы, должен равняться половине высоты блока со знаком минус */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

/*#shest {
    -moz-appearance: textfield;
}
#shest::-webkit-inner-spin-button {
    display: none;
}*/

/*расположение рисунков в учебной части*/
.leftimg {

    float: left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
    border-radius: 50px;
}

.leftimg1 {
    float: left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}

.rightimg {
    float: right; /* Выравнивание по правому краю  */
    margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
    border-radius: 50px;
    border: 3px solid red;
    /*animation-delay: 1s;
    animation-duration: 150s;
    opacity: 0;
    transition: 1s;*/
}

/*шрифт текста на первой-главной странице учебной части*/
.te {
    text-align: center;
    font-size: 1.8em;
    font-family: "Monotype Corsiva";
    text-shadow: 2px 1px 1px #000000;
    /*font-family: Arial, Helvetica, sans-serif;*/
}

/*
.knopka, .knopka1, .knopka2, .knopka3 {
    position:absolute;
    top: 500px;
    left: 460px;
    width: 150px;
    height: 55px;
    margin-top: -200px;
    margin-left: -510px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1em;
    background-color: #5bd117;
    color: white;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 15px;
    border-radius: 10px;
    box-shadow:4px 4px 6px black;
    border:1px black solid;
    text-shadow: 2px 1px 2px #000000;
    text-align: center;
    transition: 1s;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.knopka {
    top: 102%; /* Отступ в процентах от верхнего края окна
    left: 44%;
    font-weight: bolder;
    letter-spacing: 0.1em;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.knopka1 {
    left: 325px;
}
.knopka2 {
    left: 575px;
}
.knopka3 {
    position: relative;
    left: 565px;
    top: 630px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
}
.knopka:hover {
    background-color:gold;
    bottom: 50px;
}
.knopka1:hover {
    background-color:gold;
}
.knopka2:hover {
    background-color:gold;
}
.knopka3:hover {
    background-color:gold;
}
*/

/* progress bar*/
.top-bar {
    position: absolute;
    top: 93%;
    width: 94%;
}

/*задержка всплывания текста в учебной части*/
.delay1 {
    animation-delay: 0.5s
}

/*Кнопки переходов в учебной части*/
.butt1 {
    position: absolute;
    top: 500px;
    left: 325px;
}

.butt2 {
    position: absolute;
    top: 500px;
    left: 575px;
}

.butt4 {
    position: absolute;
    top: 500px;
    left: 450px;
    width: 130px;
}

.butt3 {
    position: absolute;
    top: 500px;
    left: 950px;
}

/* cyrillic
@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: local('Lobster'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v15/c28rH3kclCLEuIsGhOg7evY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese
@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: local('Lobster'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v15/RdfS2KomDWXvet4_dZQehvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext
@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: local('Lobster'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v15/9NqNYV_LP7zlAF8jHr7f1vY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin
@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: local('Lobster'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v15/cycBf3mfbGkh66G5NhszPQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext
@font-face {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    src: local('Anton'), url(https://fonts.gstatic.com/s/anton/v7/KgPSGrLwjoSLN4ZBWvXSfQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin
@font-face {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    src: local('Anton'), url(https://fonts.gstatic.com/s/anton/v7/o-91-t7-bPc7W26HmS2N4Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
*/

/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
.checkbox {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
.checkbox + label {
    cursor: pointer;
}

/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
.checkbox:not(checked) {
    position: absolute;
    opacity: 0;
}

.checkbox:not(checked) + label {
    position: relative; /* будем позиционировать псевдочекбокс относительно label */
    padding: 0 0 0 60px; /* оставляем слева от label место под псевдочекбокс */

}

/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.checkbox:not(checked) + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 20px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
}

/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.checkbox:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */

}

/* Меняем фон чекбокса, когда он включен. */
.checkbox:checked + label:before {
    background: #9FD468;
}

/* Сдвигаем переключатель чекбокса, когда он включен. */
.checkbox:checked + label:after {
    left: 26px;
}

/* Показываем получение фокуса.
.checkbox:focus + label:before {
    /*box-shadow: 0 0 0 3px rgba(255,255,0,.5);}*/

/* комментарии в учебной части */
.comment + label,
.comment2 + label,
.comment3 + label,
.comment4 + label,
.comment42 + label,
.comment61 + label,
.comment51 + label {
    cursor: pointer;
}

/*форма окна комментария*/

.comment:checked + label:after,
.comment2:checked + label:after,
.comment3:checked + label:after,
.comment4:checked + label:after,
.comment42:checked + label:after,
.comment61:checked + label:after,
.comment51:checked + label:after {
    font-size: 0.7em;
    padding: 5px;
    color: #080808;
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 10px;
    background: lightgoldenrodyellow;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, .6);
    transition: all .2s;
    z-index: 10;
}

/*содержание и расположения окна комментария*/
.comment:checked + label:after {
    content: 'Программа формирования заявок в техническую службу, доступ имеют все сотрудники, подробная инструкция в папке Общая\\Итилиум\\Инструкции';
    top: 75px;
    left: 50px;
    width: 165px;
    height: 165px;
}

.comment2:checked + label:after {
    content: 'К техническим средствам относятся системные блоки, принтеры, копиры, сканеры, телефоны и остальная офисная техника';
    top: -60px;
    left: 330px;
}

.comment3:checked + label:after {
    content: 'Папки в локальной сети, дополнительные локальные и сетеввые программы, доступ к конкретным сайтам в Интернет, удалённый доступ';
    top: 155px;
    left: 710px;
}

.comment4:checked + label:after {
    content: 'Лица, не являющиеся сотрудниками службы ИТС и Службы безпасности компании, и лица которых вы не знаете ';
    top: 25px;
    left: 100px;
    height: 100px;
    width: 200px
}

.comment42:checked + label:after {
    content: 'Рекламные объявления о продаже и прибретении личных вещей, рекламные предложения не имеющие отношения к компании';
    top: 130px;
    left: 15px;
}

.comment61:checked + label:after {
    content: 'Шифрование папки с файлами можно выполнить заархивировав папку программой WinRAR, поставив на архив пароль. На файлы Word и Excel можно поставить пароль отдельно, зайдя в меню документа: "Файл\\Сведения\\Защита документа" ';
    top: 80px;
    left: 500px;
    width: 200px;
    height: 195px;
}

.comment51:checked + label:after {
    content: 'Письма, содержащие конфиденциальную информацию следует удалять, нужную информацию необходимо сохранить в папке отдела на сервере либо на своём компьютере';
    top: 210px;
    left: 0;
    height: 160px;
    width: 200px
}

/*Кнопки переходов в тесте*/
.table-form {
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #333333;
    background-color: #5bd117;
    color: white;
    cursor: pointer;
}

/* количество пройденных страниц в тесте */
.strings {
    position: absolute;
    top: 93%;
    left: 47%;
    z-index: 2;
    color: white;
}

/*минимизация больного текста*/
.mini {
    font-size: 0.65em;
}

/*
.strings-edu {
    position: absolute;
    top: 93%;
    left: 46%;
    z-index: 2;
    color: white;
}
*/

.ui-draggable {
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    width: 130px;
    height: 100px;
}

.ui-draggable-dragging {
    background-color: #ecbfda;
    color: red;
}